*#
**/.jqwik-database
**/src/generated
**/src/generated-test
*.class
*.iml
*.ipr
*.iws
*.swp
*classes
*~
.#*
.cache
.classpath
.claude/
.DS_Store
.ducktape
.gradle/
.idea
.project
.release-settings.json
.settings
.svn
.vagrant
.vscode/
/.metadata
/.recommenders
/logs
__pycache__
build/
build_eclipse/
config/server-*
config/zookeeper-*
dist
docker/test/report_*.html
docs/generated/
gradle/wrapper/*.jar
gradlew.bat
jmh-benchmarks/generated
jmh-benchmarks/src/main/generated
kafka.Kafka
kafkatest.egg-info/
lib_managed/
out/
patch-process/*
project/boot/
project/plugins/project/
rat.out
results
src_managed/
storage/kafka-tiered-storage/
systest/
TAGS
target/
tests/.ducktape
tests/results
tests/venv
Vagrantfile.local